//COLORS

$color-primary: hsl(185, 75%, 39%);
$color-primary-grayish: hsl(227, 10%, 46%);
$color-primary-dark: hsl(229, 23%, 23%);

$color-grey-light-1: #f7f7f7;

$color-neutral: hsl(0, 0%, 59%);
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-family: 'Kumbh Sans', sans-serif;
$default-font-size: 1.8rem;

//GRID
