*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #777;
}

.heading-secondary {
  color: #2d3248;
  font-size: 2.2rem;
}
.heading-secondary__age {
  font-size: 1.8rem;
  font-weight: 400;
}
.heading-secondary__country {
  font-weight: 400;
  font-size: 1.8rem;
}

.u-center-text {
  text-align: center;
}

.u-center-translate {
  transform: translateX(-50%);
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 40vh;
}

.u-margin-top-custom {
  margin-top: 6rem;
}

.u-margin-bottom-custom {
  margin-bottom: 2rem;
}

.u-display-block {
  display: block;
}

.card {
  background-color: white;
  width: 40rem;
  height: 40rem;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 50vh;
  transform: translateY(-50%);
  position: relative;
}
.card .bg-blue {
  height: 35%;
  background-image: url(../images/bg-pattern-card.svg);
}
.card__img-container {
  text-align: center;
  background-color: transparent;
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translateX(-50%);
}
.card__img-content {
  border-radius: 999px;
  border: 3px solid #fff;
}
.card__insights {
  padding-top: 2.4rem;
  border-top: 1px solid #eee;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.card__insights-item {
  font-size: 1.8rem;
}
.card__insights-item span {
  display: block;
}
.card__insights-item-value {
  font-size: 2rem;
  font-weight: 700;
  color: #2d3248;
}
.card__insights-item-label {
  letter-spacing: 1px;
  font-size: 1.4rem;
}

@media (max-width: 30em) {
  .card {
    width: 80%;
  }
}

body {
  background-color: #19a2ae;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.bg-pattern .bg-pattern-top {
  position: absolute;
  top: -64vh;
  left: -10vw;
}

.bg-pattern .bg-pattern-bottom {
  position: absolute;
  top: 53vh;
  left: 50vw;
}
